server:
  http:
    addr: 0.0.0.0:8000
    timeout: 10s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 10s
data:
  database:
    driver: postgres
    source: postgres://vocabulary:vocabulary123@postgres:5432/vocabulary?sslmode=disable
  redis:
    addr: redis:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
translator:
  youdao:
    app_key: "your_app_key"
    app_secret: "your_app_secret"
